<div class="container p-5">
    <div class="header">
        <h3>Customer Profile</h3>
    </div>
    <div [formGroup]="customerFormGroup">
        <div class="d-flex flex-row flex-wrap">
            <div class="form-group col-md-4">
                <label for="title">Title</label>
                <ng-select id="title" [items]="['Mr.', 'Mrs.', 'Miss.']" formControlName="title"></ng-select>
            </div>
        </div>
        <div class="d-flex flex-row flex-wrap">
            <div class="form-group col-md-6">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" formControlName="firstName">
            </div>
            <div class="form-group col-md-6">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" formControlName="lastName">
            </div>
        </div>
        <div class="d-flex flex-row flex-wrap">
            <div class="form-group col-md-6">
                <label for="phoneNumber">Phone Number</label>
                <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber">
            </div>
            <div class="form-group col-md-6">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" formControlName="email">
            </div>
        </div>
        <div class="d-flex flex-row flex-wrap">
            <div class="form-group col-md-12">
                <label>Status</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="active-status" value="active" formControlName="status">
                    <label class="form-check-label" for="active-status">
                        Active
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="inactive-status" value="inactive" formControlName="status">
                    <label class="form-check-label" for="active-status">
                        Inactive
                    </label>
                </div>
            </div>
        </div>
        <div class="d-flex flex-md-row-reverse flex-column">
            <button class="btn btn-primary d-md-block my-1 mx-md-1" (click)="onSubmit()">
                <span class="mx-2">{{ (customerProfile$ | async) ? 'Update' : 'Create' }}</span>
            </button>
            <button class="btn btn-outline-secondary d-md-block my-1 mx-md-1" routerLink="/CallCenter">
                <span class="mx-2">Back</span>
            </button>
        </div>
    </div>
    <ng-container *ngIf="customerProfile$ | async">
        <h3>Addresses</h3>
        <div class="address-list p-4">
            <div class="d-flex flex-row">
                <button class="btn btn-primary" (click)="openAddress(null)">Add Address</button>
            </div>
            <ng-container *ngFor="let address of addressesFormated$ | async">
                <div class="d-flex flex-row border rounded text-wrap my-2 p-4 col-md-6" style="cursor: pointer;" (click)="openAddress(address.address)">{{address.textFormat}}
                </div>
            </ng-container>
        </div>

        <div class="header">
            <h3>Customer Request</h3>
        </div>
        <div class="information-request p-4">
            <h5>Information Request</h5>
            <div class="search-result text-center px-5 mt-4">
                <div class="d-flex flex-row-reverse">
                    <button class="btn btn-link" (click)="createInformation()">Create</button>
                </div>
                <information-table [customerId]="customerId"></information-table>
            </div>
        </div>
        <div class="complain-request p-4">
            <h5>Complain Request</h5>
            <div class="search-result text-center px-5 mt-4">
                <div class="d-flex flex-row-reverse">
                    <button class="btn btn-link" (click)="createComplain()">Create</button>
                </div>
                <complain-table [customerId]="customerId"></complain-table>
            </div>
        </div>
        <div class="repair-request p-4">
            <h5>Repairing Request</h5>
            <div class="search-result text-center px-5 mt-4">
                <div class="d-flex flex-row-reverse">
                    <button class="btn btn-link" (click)="createRepair()">Create</button>
                </div>
                <repair-table [customerId]="customerId"></repair-table>
            </div>
        </div>
    </ng-container>
</div>