<div class="modal-header">
    <h4 class="modal-title">Complain Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div [formGroup]="informationFormGroup">
        <div class="d-flex flex-row flex-wrap">
            <div class="form-group col-md-6">
                <label for="complainType">Complain Type</label>
                <ng-select id="complainType" [items]="['Complain Type 1', 'Complain Type 2']" formControlName="informationType" [readonly]="readonly"></ng-select>
            </div>
        </div>
        <div class="d-flex flex-row flex-wrap">
            <div class="form-group col-md-12">
                <label for="subject">Subject</label>
                <input type="text" class="form-control" id="subject" formControlName="subject" [readonly]="readonly">
            </div>
        </div>
        <div class="d-flex flex-row flex-wrap">
            <div class="form-group col-md-12">
                <label for="detail">Detail</label>
                <textarea class="form-control" id="detail" formControlName="detail" [readonly]="readonly"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary col-md-3" (click)="dismiss()">Cancle</button>
    <button *ngIf="!readonly" type="button" class="btn btn-primary col-md-3" (click)="submit()">Save</button>
</div>